<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <form action="/products?_method=put" method="post">
        <label for="nombre">Escribe tu nombre</label>
        <input type="text" name="nombre" id="nombre" placeholder="Ej: Agostina" required>
        <br>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>